<div class="mainWrapper">
    <div class="header">
      <div id="headerLogout">
        <span>user@email.com</span> <br />
        <span><a href="../login.html">Logout</a></span>
      </div>
    </div>
    <div id="headerLogo">
      <img src="img/header-logo.png" alt="logo" />
    </div>
    <div class="searchArea">
      <span>Home</span>
      <div id="searchTable">
        <table>
          <form action="#">
            <tr id="searchInputLabels">
              <td><span>Trial Type</span></td>
              <td><span>Crop</span></td>
              <td><span>Year</span></td>
            </tr>
            <tr id="searchInputs">
                <td>
                    <select ng-model="$root.selectedTrialType" ng-options="trialType.TrialTypeName for trialType in trialTypes" ng-change="trialTypeChange()">
                        <option value="" disabled selected>Select</option>
                      </select>
                </td>
                <td>
                    <select ng-model="$root.selectedCrop" ng-options="crop.CropName for crop in crops" ng-change="cropChange()">
                        <option value="" disabled selected>Select</option>
                      </select>
                </td>
                <td>
                    <select ng-model="$root.selectedYear" ng-options="crop.Year for crop in years | unique: 'Year'"  ng-change="yearChange()">
                        <option value="" disabled selected>Select</option>
                      </select>
                </td>
              <td><button ng-click="search()">Search</button></td>
            </tr>
          </form>
        </table>
      </div>
      <div class="separator">
        <div class="separatorLine separatorLineFirst">
          <hr>
        </div>
        <div id="separatorCircle">
          <span class="fa fa-dot-circle"></span>
        </div>
        <div class="separatorLine separatorLineLast">
          <hr>
        </div>
      </div>
    </div>
    <div class="mainContent">
      <div class="mainContentHeader yearsHeader">
        <span>TOP RESULTS</span>
      </div>
      <div class="contentGrid">
        <a ng-repeat="topResult in topResults" href="#!/trialGroup/{{topResult.TopTrial}}">
          <div class="contentBlock" >
            <img src="img/graphWeed.png" alt="year" />
            <div class="fadeBackground"></div>
            <span>{{topResult.Type | uppercase}}</span>
          </div>
        </a>
      </div>
    </div>
    <div class="footer">
      <div id="footerTxt">
        <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
      </div>
      <div id="footerLogo">
        <a href="http://patriotisk.dk"><img src="img/footer-logo.png" alt="logo"/></a>
      </div>
    </div>
  </div>