<div class="mainWrapper">
  <div class="header">
    <div id="headerLogout">
      <span>user@email.com</span>
      <br />
      <span>
        <a href="../login.html">Logout</a>
      </span>
    </div>
  </div>
  <div id="headerLogo">
    <img src="img/header-logo.png" alt="logo" />
  </div>
  <div class="searchArea">
    <span>
      <a href="/client">Home</a>
      <div class="fa fa-seedling" id="seedling"></div>Top Results
      <div class="fa fa-seedling" id="seedling"></div>{{$root.selectedTrialType.TrialTypeName}}</span>
    <div id="searchTable">
      <table>
        <form action="#">
          <tr id="searchInputLabels">
            <td>
              <span>Trial Type</span>
            </td>
            <td>
              <span>Crop</span>
            </td>
            <td>
              <span>Year</span>
            </td>
          </tr>
          <tr id="searchInputs">
            <td>
              <select ng-model="$root.selectedTrialType" ng-options="trialType.TrialTypeName for trialType in trialTypes" ng-change="trialTypeChange()">
                <option value="" disabled selected>Select</option>
              </select>
            </td>
            <td>
              <select ng-model="$root.selectedCrop" ng-options="crop.CropName for crop in crops" ng-change="cropChange()">
                <option value="" disabled selected>Select</option>
              </select>
            </td>
            <td>
              <select ng-model="$root.selectedYear" ng-options="crop.Year for crop in years | unique: 'Year'" ng-change="yearChange()">
                <option value="" disabled selected>Select</option>
              </select>
            </td>
            <td>
              <button ng-click="search()">Search</button>
            </td>
          </tr>
        </form>
      </table>
    </div>
    <div class="separator">
      <div class="separatorLine separatorLineFirst">
        <hr>
      </div>
      <div id="separatorCircle">
        <span class="fa fa-dot-circle"></span>
      </div>
      <div class="separatorLine separatorLineLast">
        <hr>
      </div>
    </div>
  </div>
  <div class="mainContent">
    <div class="contentGrid blockGrid">
      <div class="detailInfo">
        <div id="detailHeader">
          <span>Trial Group {{TrialGroup.TrialGroupNr}}</span>
        </div>
        <div id="detailContent">
          <span class="detailBold">CROP</span>
          <span class="pull-right">{{TrialGroup.TrialGroupCrop.Name}}</span>
          <br />
          <hr />
          <span class="detailBold">COMMENT</span>
          <br />
          <br />
          <span>{{TrialGroup.Comment}}</span>
          <br />
          <hr />
          <br />
          <br />
          <span class="detailBoldHeader">TREATMENT</span>
          <br />
          <div ng-repeat="stage in Stages">
            <span class="detailBold">STAGE {{stage.stageName}}</span>
            <span class="pull-right">{{stage.stageDate}}
              <span ng-if="stage.stageDate == undefined">N/A</span>
            </span>
            <br />
            <div ng-repeat="product in stage.products">
              <span class="detailBoldSmall">{{product.productName}}</span>
              <span class="pull-right detailSmall">{{product.dosage}}
                <span ng-if="product.dosage != 'LOG'"> ml</span>
              </span>
              <br />
            </div>
            <br />
            <span class="detailBoldSmaller">COMMENT</span>
            <br />
            <span class="detailSmaller">{{stage.stageComment}}</span>
            <br />
            <hr />
          </div>
        </div>
        <div id="detailFooter"></div>
      </div>
      <div class="gridLine"></div>
      <div class="detailGridContent">
        <div class="chemGroup">
          <div class="trialCell" ng-if="trialGroup.LogChemDosages[0] != undefined">
            <span class="chemTxt">{{trialGroup.LogChemName}}</span>
            <hr />
            <span class="chemTxtSmall">{{trialGroup.LogChemDosages[0]}} ml</span>
          </div>
          <div class="trialCell" ng-if="trialGroup.LogChemDosages[1] != undefined">
            <span class="chemTxt">{{trialGroup.LogChemName}}</span>
            <hr />
            <span class="chemTxtSmall">{{trialGroup.LogChemDosages[1]}} ml</span>
          </div>
          <div class="trialCell" ng-if="trialGroup.LogChemDosages[2] != undefined">
            <span class="chemTxt">{{trialGroup.LogChemName}}</span>
            <hr />
            <span class="chemTxtSmall">{{trialGroup.LogChemDosages[2]}} ml</span>
          </div>
          <div class="trialCell" ng-if="trialGroup.LogChemDosages[3] != undefined">
            <span class="chemTxt">{{trialGroup.LogChemName}}</span>
            <hr />
            <span class="chemTxtSmall">{{trialGroup.LogChemDosages[3]}} ml</span>
          </div>
          <div class="trialCell" ng-if="trialGroup.LogChemDosages[4] != undefined">
            <span class="chemTxt">{{trialGroup.LogChemName}}</span>
            <hr />
            <span class="chemTxtSmall">{{trialGroup.LogChemDosages[4]}} ml</span>
          </div>
        </div>
        <div class="graph">
          <img src="img/trialGroupGraph1.png" alt="graph" />
        </div>
        <div class="graph">
          <img src="img/trialGroupGraph2.png" alt="graph" />
        </div>
      </div>
    </div>
    <div class="separatorSecondary">
      <div class="separatorLine separatorLineFirst">
        <hr>
      </div>
      <div id="separatorCircle">
        <span class="fa fa-dot-circle"></span>
      </div>
      <div class="separatorLine separatorLineLast">
        <hr>
      </div>
    </div>
    <div class="similarContent">
      <span>SIMILAR TRIAL GROUPS</span>
      <div id="similarTrialGroups">
      <a href="#!/trialGroup/{{similarTrialGroup.trialID}}" ng-repeat="similarTrialGroup in SimilarTrialGroups">
        <div class="trialCell">
            <div>
              <span class="chemTxt">{{similarTrialGroup.chemName}}</span>
              <hr />
              <span class="chemTxtSmall">{{similarTrialGroup.cropName | uppercase}}</span>
            </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div id="footerTxt">
      <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
    </div>
    <div id="footerLogo">
      <a href="http://patriotisk.dk">
        <img src="img/footer-logo.png" alt="logo" />
      </a>
    </div>
  </div>
</div>