<div class="mainWrapper nosearch">
    <div class="header">
      <div id="headerLogout">
        <span>user@email.com</span> <br />
        <span><a href="login.html">Logout</a></span>
      </div>

    </div>
    <div id="headerLogo">
      <img src="img/header-logo.png" alt="logo" />
    </div>
    <div class="searchArea">
      <span><a href="/">Home</a><div class ="fa fa-seedling" id="seedling"></div><a href="#!/addYear/{{addYear}}">{{addYear}}</a><div class ="fa fa-seedling" id="seedling"></div>Block</span>
    </div>
    <div class="mainContent">
      <div class="contentGrid blockGrid">
        <form>
          <div class="detailInfo">
            <div id="detailHeader">
              <span>Block <input ng-model="blockChar" type="text" size="1" maxlength="1"  placeholder="A"/><a ng-click="saveBlock()"><div class="fa fa-save"></div></a></span>
            </div>
            <div id="detailContent">
              <span class="detailBold">LENGTH</span>
              <span class="pull-right"><input ng-model="length" type="text" size="4" placeholder="160"/> m</span><br />
              <hr />
              <span class="detailBold">WIDTH</span>
              <span class="pull-right"><input ng-model="width" type="text" size="4" placeholder="200"/> m</span><br />
              <hr />
              <span class="detailBold">AREA</span>
              <span class="pull-right" ng-if="length != undefined && width != undefined">{{length * width}} m<sup>2</sup></span><br />
              <hr />
              <span class="detailBold">COMMENT</span><br /><br />
              <textarea  ng-model="comment" placeholder="Here you can write a comment about this block."></textarea><br />
              <hr />
            </div>
            <div id="detailFooter"></div>
          </div>
        </form>
        <div class="gridLine"></div>
        <div class="detailGridContent editSubBlockBlock" id="addSubBlockArea">
            <div class="subBlockBlock editSubBlockBlock" style="width: calc(66% - 10px); height: calc(33% - 10px); top: 0; left: 0;">
              <a><span id="createSubBlockBtn"><button ng-click="createSubBlock($event)">Create</button></span></a>
            </div>
            <div ng-repeat="subBlock in addSubBlocks" >
            <div class="subBlockBlock editSubBlockBlock" style="width: calc({{subBlock.subBlockWidth * 100 / width}}%); height: calc({{subBlock.subBlockLength * 100 / length}}%); top: {{subBlock.PosL* 100 / length}}% ; left: {{subBlock.PosW * 100 / width}}%;">
              <span>{{subBlock.subBlockChar}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div id="footerTxt">
        <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
      </div>
      <div id="footerLogo">
        <a href="http://patriotisk.dk"><img src="img/footer-logo.png" alt="logo"/></a>
      </div>
    </div>
  </div>