<div class="mainWrapper nosearch">
    <div class="header">
      <div id="headerLogout">
        <span>user@email.com</span> <br />
        <span><a href="login.html">Logout</a></span>
      </div>

    </div>
    <div id="headerLogo">
      <img src="img/header-logo.png" alt="logo" />
    </div>
    <div class="searchArea">
      <span><a href="/">Home</a><div class ="fa fa-seedling" id="seedling"></div><a href="#!/addYear/{{addYear}}">{{addYear}}</a><div class ="fa fa-seedling" id="seedling"></div><a href="#!/addBlock/">Block x</a><div class ="fa fa-seedling" id="seedling"></div>
        <a href="#!/addSubBlock/">Sub-block x</a><div class ="fa fa-seedling" id="seedling"></div>Trial Group </span>
    </div>
    <div class="mainContent">
      <div class="contentGrid blockGrid">
        <div class="detailInfo">
          <div id="detailHeader">
            <span>Trial Group <input type="text" size="1" maxlength="1"  placeholder="1"/><a href="#"><div class="fa fa-save"></div></a></span>
          </div>
          <div id="detailContent">
            <span class="detailBold">CROP</span>
            <span class="pull-right">
              <select ng-model="selectedWeed" id="selectWeed" ng-options="weed.CropName for weed in Weeds" >
                <option value="" disabled selected>Select</option>
              </select>

            </span><br />
            <hr />
            <span class="detailBold">COMMENT</span><br /><br />
            <textarea ng-model = "comment" placeholder="Here you can write a comment about this trial group."></textarea><br />
            <hr />
            <br /><br />
            <span class="detailBoldHeader">TREATMENT</span><br />
            <hr />
          </div>
          <div id="detailFooter"></div>
        </div>
        <div class="gridLine"></div>
        <div class="detailGridContent addTreatmentGrid">
          <div class="addTreatmentHeader">
            <span>NEW TREATMENT</span>
          </div>
          <div class="addTreatmentContent">
            <div class="addTreatmentContentLeft">
              <div class="underlineInput">
                <span class="fa fa-wpforms"></span><input ng-model="stage" type="text" placeholder="STAGE" />
              </div><br />
              <div id="treatmentSecondLevel">
                <div class="underlineInput">
                  <span class="fa fa-prescription-bottle"></span><input ng-model="logChemName" type="text" placeholder="LOGCHEM" />
                </div><br />
                <div class="underlineInput">
                  <span class="fa fa-flask"></span><input ng-model="chemName" type="text" placeholder="CHEMICAL" />
                </div>
              </div>
              <div class="addedChemicals">
                <div ng-repeat="product in Products"><span class="fa fa-trash-alt"></span>{{product.chemName}}<br /></div>
              </div>
            </div>
            <div class="addTreatmentContentRight">
              <div class="underlineInput">
                <span class="fa fa-calendar-alt"></span><input ng-model="date" type="date" />
              </div>
              <div id="logDosage">
                <span class="fa fa-vial"></span>
                <div class="logInputTop">
                  <input ng-model="logDose1" type="text" placeholder="1" />
                  <input ng-model="logDose2" type="text" placeholder="0.5" />
                  <input ng-model="logDose3" type="text" placeholder="0.25" />
                </div>
                <div class="logInputBottom">
                  <input ng-model="logDose4" type="text" placeholder="0.125" />
                  <input ng-model="logDose5" type="text" placeholder="0" />
                  <input ng-model="logDoseUnit" type="text" placeholder="UNIT" />
                </div>
              </div>
              <div>
                <div class="underlineInput dosageInput">
                  <span class="fa fa-vial"></span>
                  <input ng-model="chemDose" type="text" placeholder="DOSAGE" />
                </div>
                <input id="unitInput" ng-model="chemUnit" type="text" placeholder="UNIT" />
                <span class="fa fa-plus" ng-click="addChem()"></span>
              </div><br />
              <div ng><span>0.725 ml</span><br /></div>
              <span>0.495 ml</span>
            </div>
            <div class="addTreatmentContentBottom">
              <div class="underlineInput">
                <span class="fa fa-comment"></span><span>COMMENT</span>
              </div><br />
              <textarea ng-model="treatmentComment" placeholder="Write a comment about the treatment."></textarea><br />
              <button ng-click="addTreatment()">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div id="footerTxt">
        <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
      </div>
      <div id="footerLogo">
        <a href="http://patriotisk.dk"><img src="img/footer-logo.png" alt="logo"/></a>
      </div>
    </div>
  </div>