<div class="mainWrapper nosearch">
    <div class="header">
      <div id="headerLogout">
        <span>user@email.com</span> <br />
        <span><a href="login.html">Logout</a></span>
      </div>

    </div>
    <div id="headerLogo">
      <img src="img/header-logo.png" alt="logo" />
    </div>
    <div class="searchArea">
      <span><a href="index.html">Home</a><div class ="fa fa-seedling" id="seedling"></div><a href="addYear.html">2019</a><div class ="fa fa-seedling" id="seedling"></div><a href="addBlock.html">Block x</a><div class ="fa fa-seedling" id="seedling"></div>
        <a href ="addSubBlock.html">Sub-block x</a><div class ="fa fa-seedling" id="seedling"></div>Trial Group </span>
    </div>
    <div class="mainContent">
      <div class="contentGrid blockGrid">
        <div class="detailInfo">
          <div id="detailHeader">
            <span>Trial Group <input ng-model="trialGroupNr" type="text" size="1" maxlength="1"  placeholder="1"/><a ng-click="saveTrialGroup()"><div class="fa fa-save"></div></a></span>
          </div>
          <div id="detailContent">
            <span class="detailBold">CROP</span>
            <span class="pull-right">
              <select ng-model="selectedWeed" id="selectWeed" ng-options="weed.CropName for weed in Weeds" >
                <option value="" disabled selected>Select</option>
              </select>
            </span><br />
            <hr />
            <span class="detailBold">COMMENT</span><br /><br />
            <textarea ng-model = "comment" placeholder="Here you can write a comment about this trial group."></textarea><br />
            <hr />
            <br /><br />
            <span class="detailBoldHeader">TREATMENT</span><br />
            <div ng-repeat="treatment in Treatments">
              <span class="detailBold">STAGE {{treatment.Stage}}</span>
              <span class="pull-right">{{treatment.Date}}
                <span ng-if="treatment.Date == ''">N/A</span>
              </span>
              <br />
              <div ng-repeat="product in treatment.DisplayProducts">
                <span class="detailBoldSmall">{{product.productName}}</span>
                <span class="pull-right detailSmall">{{product.productDose}}
                  <span ng-if="product.productDose != 'LOG'"> {{product.productUnit}}</span>
                </span>
                <br />
              </div>
              <br />
              <span class="detailBoldSmaller">COMMENT</span>
              <br />
              <span class="detailSmaller">{{treatment.Comment}}</span>
              <br />
              <hr />
            </div>
          </div>
          <div id="detailFooter"></div>
        </div>
        <div class="gridLine"></div>
        <div class="detailGridContent addTreatmentGrid">
          <div class="addTreatmentHeader">
            <span>NEW TREATMENT</span>
          </div>
          <div class="addTreatmentContent">
            <table>
              <tr>
                <td>
                  <div class="underlineInput">
                    <span class="fa fa-wpforms"></span><input ng-model="stage" type="text" placeholder="STAGE" />
                  </div>
                </td>
                <td></td>
                <td>
                  <div class="underlineInput">
                    <span class="fa fa-calendar-alt"></span><input ng-model="date" type="text" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="underlineInput treatmentSecondLevel">
                    <span class="fa fa-prescription-bottle"></span><input ng-model="logChemName" type="text" placeholder="LOGCHEM" />
                  </div>
                </td>
                <td></td>
                <td>
                  <div id="logDosage">
                    <span class="fa fa-vial"></span>
                    <div class="logInputTop">
                      <input ng-model="logDose1" type="text" placeholder="1" />
                      <input ng-model="logDose2" type="text" placeholder="0.5" />
                      <input ng-model="logDose3" type="text" placeholder="0.25" />
                    </div>
                    <div class="logInputBottom">
                      <input ng-model="logDose4" type="text" placeholder="0.125" />
                      <input ng-model="logDose5" type="text" placeholder="0" />
                      <input ng-model="logDoseUnit" type="text" placeholder="UNIT" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="underlineInput treatmentSecondLevel">
                    <span class="fa fa-flask"></span><input ng-model="chemName" type="text" placeholder="CHEMICAL" />
                  </div>
                </td>
                <td></td>
                <td>
                  <span class="fa fa-vial"></span>
                  <div class="underlineInput dosageInput">
                    <input ng-model="chemDose" type="text" placeholder="DOSAGE" />
                  </div>
                  <div class="underlineInput unitInput">
                    <input type="text" ng-model="chemUnit" placeholder="UNIT" />
                  </div>
                </td>
                <td class="tableCenter">
                  <span ng-click="addChem()" class="fa fa-plus"></span>
                </td>
              </tr>
              <tr>
                <td class="thistest">

                </td>
              </tr>
              <tr ng-repeat="product in Products" >
                <td class="treatmentThirdLevel alignRight">
                  <span class="fa fa-trash-alt "></span>{{product.productName}}
                </td>
                <td></td>
                <td class="treatmentThirdLevel alignLeft">
                  <span>{{product.productDose}} {{product.productUnit}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="underlineInput bottomSpacing">
                    <span class="fa fa-comment"></span><span>COMMENT</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <textarea ng-model="treatmentComment" placeholder="Write a comment about the treatment."></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <button ng-click="addTreatment()">Add</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div id="footerTxt">
        <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
      </div>
      <div id="footerLogo">
        <a href="http://patriotisk.dk"><img src="img/footer-logo.png" alt="logo"/></a>
      </div>
    </div>
  </div>
  </div>