<div class="mainWrapper">
    <div class="header">
      <div id="headerLogout">
        <span>user@email.com</span> <br />
        <span><a href="login.html">Logout</a></span>
      </div>

    </div>
    <div id="headerLogo">
      <img src="img/header-logo.png" alt="logo" />
    </div>
    <div class="searchArea">
      <span>Home</span>
      <div id="searchTable">
        <table>
          <form action="#">
            <tr id="searchInputLabels">
              <td><span>Year</span></td>
              <td><span>Block</span></td>
              <td><span>Sub-block</span></td>
              <td><span>Trial Group</span></td>
            </tr>
            <tr id="searchInputs">
              <td>
                  <select ng-model="selectedYear" ng-options="x for x in years" ng-change="yearChange()">
                      <option value="" disabled selected>Select</option>
                    </select>
              </td>
              <td>
                  <select ng-model="selectedBlock" ng-options="block.BlockChar for block in blocks" ng-change="blockChange()">
                      <option value="" disabled selected>Select</option>
                    </select>
              </td>
              <td>
                  <select ng-model="selectedSubBlock" ng-options="subBlock.SubBlockChar for subBlock in subBlocks" ng-change="subBlockChange()">
                      <option value="" disabled selected>Select</option>
                    </select>
              </td>
              <td>
                  <select ng-model="selectedTrialGroup" ng-options="trialGroup.TrialGroupNr for trialGroup in trialGroups">
                      <option value="" disabled selected>Select</option>
                    </select>
              </td>
              <td><button ng-click="search()">Search</button></td>
            </tr>
          </form>
        </table>
      </div>
      <div class="separator">
        <div class="separatorLine separatorLineFirst">
          <hr>
        </div>
        <div id="separatorCircle">
          <span class="fa fa-dot-circle"></span>
        </div>
        <div class="separatorLine separatorLineLast">
          <hr>
        </div>
      </div>
    </div>
    <div class="mainContent">
      <div class="mainContentHeader yearsHeader">
        <span>YEARS<a onclick="editToggle();"><div class="fa fa-edit"></div></a></span>
      </div>
      <div class="contentGrid">
        <a class="addBtn" href="#!/addYear/{{FieldBlocks[0].FieldBlockYear + 1}}" style="display: none">
          <div class="contentBlock">
            <img src="img/yearBlock.png" alt="year" />
            <img id="plusImg" src="img/plus.png" alt="add" />
          </div>
        </a>
        <div ng-repeat="fieldBlock in FieldBlocks | unique: 'FieldBlockYear' | orderBy: '-FieldBlockYear'">
          <a href="#!/year/{{fieldBlock.FieldBlockYear}}" >
          <div class="contentBlock">
            <img src="img/yearBlock.png" alt="year" />
            <span>{{ fieldBlock.FieldBlockYear }}</span>
          </div>
        </a>
      </div>
      </div>
    </div>
    <div class="footer">
      <div id="footerTxt">
        <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
      </div>
      <div id="footerLogo">
        <a href="http://patriotisk.dk"><img src="img/footer-logo.png" alt="logo"/></a>
      </div>
    </div>
  </div>