<div class="mainWrapper nosearch">
    <div class="header">
      <div id="headerLogout">
        <span>user@email.com</span> <br />
        <span><a href="login.html">Logout</a></span>
      </div>

    </div>
    <div id="headerLogo">
      <img src="img/header-logo.png" alt="logo" />
    </div>
    <div class="searchArea">
      <span><a href="/">Home</a><div class ="fa fa-seedling" id="seedling"></div><a href="#!/year/{{selectedFieldBlockYear}}">{{selectedFieldBlockYear}}</a><div class ="fa fa-seedling" id="seedling"></div><a href="#!/block/{{selectedFieldBlockID}}">Block {{selectedFieldBlockChar}}</a><div class ="fa fa-seedling" id="seedling"></div>Sub-block {{selectedSubBlockChar}}</span>
    </div>
    <div class="mainContent">
      <div class="contentGrid blockGrid">
        <div class="detailInfo">
          <div id="detailHeader">
            <span>Sub-block {{selectedSubBlockChar}}<a href="#"><div class="fa fa-edit"></div></a></span>
          </div>
          <div id="detailContent">
            <span class="detailBold">LENGTH</span>
            <span class="pull-right"> {{SubBlock.SubBlockLength}} m</span><br />
            <hr />
            <span class="detailBold">WIDTH</span>
            <span class="pull-right">{{SubBlock.SubBlockWidth}} m</span><br />
            <hr />
            <span class="detailBold">AREA</span>
            <span class="pull-right">{{SubBlock.SubBlockLength * SubBlock.SubBlockWidth}} m<sup>2</sup></span><br />
            <hr />
            <span class="detailBold">COMMENT</span><br /><br />
            <span>{{SubBlock.Comment}}</span><br />
            <hr />
          </div>
          <div id="detailFooter"></div>
        </div>
        <div class="gridLine"></div>
        <div class="detailGridContent gridTable">
          <table>
            <tr>
              <th>Trial Group №</th>
              <td ng-repeat="trialGroup in SubBlock.TrialGroup">
                <a href="#">
                  <div>
                    <span class="tableHeaderMain">{{trialGroup.TrialGroupNr}}</span><br />
                    <hr /><span class="tableHeaderSecondary">{{trialGroup.Crop.CropName}}</span>
                  </div>
                </a>
              </td>
              <td>
                <a href="#">
                <img src="img/greenPlus.png" alt="add" style="width: 20px; height: 20px;" />
              </a>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="chemicalCell" ng-repeat="trialGroup in SubBlock.TrialGroup">
                <div>
                  <span>{{trial}}</span><br />
                  <span>1 ml</span>
                </div>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="chemicalCell">
                <div>
                  <span>Chemical 1</span><br />
                  <span>0.5 ml</span>
                </div>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="chemicalCell">
                <div>
                  <span>Chemical 1</span><br />
                  <span>0.25 ml</span>
                </div>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="chemicalCell">
                <div>
                  <span>Chemical 1</span><br />
                  <span>0.125 ml</span>
                </div>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="chemicalCell">
                <div>
                  <span>Chemical 1</span><br />
                  <span>0 ml</span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="footer">
      <div id="footerTxt">
        <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
      </div>
      <div id="footerLogo">
        <a href="http://patriotisk.dk"><img src="img/footer-logo.png" alt="logo"/></a>
      </div>
    </div>
  </div>