<div class="mainWrapper nosearch">
    <div class="header">
      <div id="headerLogout">
        <span>user@email.com</span> <br />
        <span><a href="login.html">Logout</a></span>
      </div>

    </div>
    <div id="headerLogo">
      <img src="img/header-logo.png" alt="logo" />
    </div>
    <div class="searchArea">
      <span><a href="/">Home</a><div class ="fa fa-seedling" id="seedling"></div>{{selectedFieldBlockYear}}</span>
    </div>
    <div class="mainContent">
      <div class="mainContentHeader">
        <span>BLOCKS<a href="#"><div class="fa fa-edit"></div></a></span>
      </div>
      <div class="contentGrid">
        <a href="addYear.html">
          <div class="contentBlock blockBlock">
            <div class="subBlockBlock plusBlock" style="width: 100%; height: 100%;"></div>
            <img id="plusImg" src="img/greenPlus.png" alt="add" />
          </div>
        </a>
        <div ng-repeat="fieldBlock in FieldBlocks" ng-if="fieldBlock.FieldBlockYear == selectedFieldBlockYear">
        <a href="#">
          <div class="contentBlock blockBlock">
            <div class="subBlockBlock" style="width: calc(66% - 3px); height: calc(33% - 3px); top: 0; left: 0;"></div>
            <div class="subBlockBlock" style="width: calc(33% - 3px); height: calc(33% - 3px); top: 0; left: calc(66% + 3px);"></div>
            <div class="subBlockBlock" style="width: calc(33% - 3px); height: calc(33% - 3px); top: calc(33% + 3px); left: 0;"></div>
            <div class="subBlockBlock" style="width: calc(33% - 3px); height: calc(66% - 3px); top: calc(33% + 3px); left: calc(33% + 3px);"></div>
            <div class="subBlockBlock" style="width: calc(33% - 3px); height: calc(33% - 3px); top: calc(33% + 3px); left: calc(66% + 3px);"></div>
            <div class="subBlockBlock" style="width: calc(33% - 3px); height: calc(33% - 3px); top: calc(66% + 3px); left: 0;"></div>
            <div class="subBlockBlock" style="width: calc(33% - 3px); height: calc(33% - 3px); top: calc(66% + 3px); left: calc(66% + 3px);"></div>
            <span>{{fieldBlock.BlockChar}}</span>
          </div>
        </a>
      </div>
      </div>
    </div>
    <div class="footer">
      <div id="footerTxt">
        <span>This website was developed by David Alves &amp; Elitsa Marinovska</span>
      </div>
      <div id="footerLogo">
        <a href="http://patriotisk.dk"><img src="img/footer-logo.png" alt="logo"/></a>
      </div>
    </div>
  </div>